<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Welcome to Cryptography System!</h1>

  <ul class="list-inline">
    <li class="list-inline-item">
      Algorithms: 
    </li>
    <li class="list-inline-item">
      <a class="btn btn-outline-secondary" [routerLink]="['/transposition']" routerLinkActive="router-link-active active">Transposition Cipher</a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-outline-secondary" [routerLink]="['/caesarshift']" routerLinkActive="router-link-active active">Caesar Shift</a>
    </li>
    <li class="list-inline-item">
      <a class="btn btn-outline-secondary" [routerLink]="['/rsa']" routerLinkActive="router-link-active active">RSA</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>